/* Color pattern: https://www.schemecolor.com/gold-silver-and-bronze-color-palette.php */
body {
  background-color: #102f50;
  color: #e6edf1;
}

#sponsors {
  padding: 1rem;
}

#sponsors.container {
  text-align: left;
}

#sponsors #title {
  margin-bottom: 2rem;
  font-size: 4rem;
}

#sponsors .box {
  margin-bottom: 8rem;
}

#sponsors .line {
  height: 0.1rem;
}

#sponsors i.fas {
  margin-right: 0.5rem;
}

#sponsors #main-title {
  color: #a61420;
}

#sponsors #main-line {
  background-image: linear-gradient(to right, #a61420, rgba(0, 0, 0, 0));
}

#sponsors #gold-title {
  color: #c9b037;
}

#sponsors #gold-line {
  background-image: linear-gradient(to right, #c9b037, rgba(0, 0, 0, 0));
}

#sponsors #silver-title {
  color: #b4b4b4;
}

#sponsors #silver-line {
  background-image: linear-gradient(to right, #b4b4b4, rgba(0, 0, 0, 0));
}

#sponsors #bronze-title {
  color: #ad8a56;
}

#sponsors #bronze-line {
  background-image: linear-gradient(to right, #ad8a56, rgba(0, 0, 0, 0));
}

#sponsors #partners-title {
  color: #31c0ff;
}

#sponsors #partners-line {
  background-image: linear-gradient(to right, #31c0ff, rgba(0, 0, 0, 0));
}

#sponsors .row {
  padding-top: 2em;
}

#sponsors .row .col-sm {
  display: flex;
  justify-content: center;
}
